h5{
  text-align: center;
  margin-bottom: 30px;
  font-size: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

tbody{
  border-bottom: 1px solid grey;
}

tr,
th,
td {
  padding: 15px;
  font-size: 18px;
  text-align: center;
  font-weight: 900;
}

td {
  color: grey;
  font-weight: 300;
}

