.space{
  height: 60px;
}
.container {
  width: 100%;
  max-width: 1840px;
  padding-left: 60px;
  padding-right: 60px;

  .title {
    margin-bottom: 60px;
    font-weight: 700;
    font-size: 46px;
    line-height: 1.2em;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    border-bottom: 5px solid #2d7d7d;

    &-img {
      padding: 10px;
      max-width: 15%;

      img {
        max-width: 100%;
        height: auto;
      }
    }
  }

  .count {
    color: #ccc;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 50px;

    span {
      font-size: 2em;
      color: #2d7d7d;
    }
  }

  .text-charity{
    border-radius: 0 0 15px 15px;
    padding: 10px 20px 25px;
    background-color: rgba(45,125,125, 0.2);
    font-size: 20px;
    line-height: 1.2em;
    .title{
      font-weight: 500;
      margin-bottom: 15px;
      font-size: 34px;
      line-height: 1.2em;
    }
    .text{
      margin-top: 10px;
      p{
        margin-bottom: 5px;
        line-height: 1.5em;
        font-size: 18px;
        text-align: center;
      }
    }
  }
}
