<div class="section contact-sec">
  <div class="space"></div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="h2 text-center contact-main-title">
          Договір
          <span>Оферта</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xl-8 offset-xl-2 col-lt-10 offset-lt-1 col-lg-10 offset-lg-1" style="width: 100%">
      <div class="text">
        <p>Цей Договір є публічним договором – Договором публічної оферти, тобто відповідно до статті 633 Цивільного
          кодексу України його умови однакові для всіх покупців незалежно від статусу (фізична особа, юридична особа,
          фізична особа – підприємець). При повній згоді з даним Договором, покупець приймає умови і порядок оформлення
          замовлення, оплати товару, доставки товару. Цей Договір є угодою між інтернет-магазином «noa.ua», в особі
          <span>ФОП</span> Мартинець Оксана Миколаївна (надалі по тексту – «Продавець») і будь-якою юридичною
          особою, фізичною особою-підприємцем або фізичною особою, користувачем послуг інтернет-магазину,
          яка надалі іменується “Покупець” (надалі – «Покупець»), що включає всі суттєві умови організації
          купівлі – продажу дистанційним способом (тобто через Інтернет – магазин).
        </p>
        <p>
          Умови даного Договору регулюють взаємовідносини Продавця і Покупця та визначаються Законом України
          «Про захист прав споживачів» № 1023-XII від 12 травня 1991 року, Правилами роздрібної торгівлі непродовольчими
          товарами, затвердженими наказом Міністерства економіки України № 104 від 19 квітня 2007 року.
        </p>
        <p>
          Ця угода носить характер публічної оферти, є еквівалентом “усної угоди” і
          відповідно до чинного законодавства України має належну юридичну силу.
        </p>
        <p>
          1. Загальні положення
        </p>
        <p>
          1.1. Цей договір є публічною офертою ( відповідно до ст. 633, 641 і гл. 63 Цивільного кодексу України) і
          містить всі істотні умови організації купівлі-продажу дистанційним способом, тобто через інтернет-магазин.
        </p>
        <p>
          1.2. У відповідності до ст. 642 Цивільного Кодексу України повним і безсуперечним прийняттям умов публічного
          договору, тобто публічної оферти інтернет-магазину є факт натисканням на посилання “Оформити замовлення”,
          «Розмістити замовлення» або «Купити в 1 клік та оплати замовлення в розмірі 100% на умовах цієї угоди.
        </p>
        <p>
          1.3. Публічна оферта також є прийнятою при реєстрації Покупця на сайті інтернет-магазину.
        </p>
        <p>
          1.4. Укладаючи Договір, Покупець підтверджує, що цілком і повністю ознайомлений та згоден з його умовами, а
          також, у разі, якщо Покупець є фізичною особою, дає дозвіл на обробку своїх персональних даних з метою
          можливості виконання умов цього Договору, можливості проведення взаєморозрахунків, а також для отримання
          рахунків, актів та інших документів. Дозвіл на обробку персональних даних діє протягом усього строку дії Договору.
          Крім цього, укладанням цього Договору, Покупець підтверджує, що йому повідомлено (без додаткового повідомлення)
          про права, встановлені Законом України «Про захист персональних даних», про цілі збору даних. Обсяг прав Покупця,
          як суб’єкта персональних даних відповідно до Закону України «Про захист персональних даних», йому відомий і зрозумілий.
        </p>
        <p>
          2. Терміни та визначення 2.1. «Інтернет – магазин» -сайт Продавця («noa.ua»),
          створений для укладення договорів роздрібної та оптової купівлі – продажу на підставі
          ознайомлення Покупця з запропонованим Продавцем описом Товару на фотознімках, за допомогою мережі Інтернет,
          що виключає можливість безпосереднього ознайомлення Покупця з Товаром – дистанційним засобом продажу товару.
        </p>
        <p>
          2.2. “Товар” – перелік найменувань асортименту, представлений в інтернет-магазині.
        </p>
        <p>
          2.3. “Персональні дані” – будь-яка інформація, яка прямо чи опосередковано відноситься до певної особи,
          чи до особи, яка визначається.
        </p>
        <p>
          2.4. «Істотний недолік Товару» – недолік, який робить неможливим чи недопустимим використання товару
          відповідно до його цільового призначення, виник з вини виробника (Продавця),
          після його усунення проявляється знову з незалежних від споживача причин і при цьому
          наділений хоча б однією з нижченаведених ознак:
        </p>
        <p>а) він взагалі не може бути усунутий;</p>
        <p>б) його усунення потребує понад чотирнадцять календарних днів;</p>
        <p>в) він робить товар суттєво іншим, ніж передбачено договором.</p>
        <p>3. Предмет договору</p>
        <p>
          3.1. Інтернет-магазин зобов’язується передати у власність Покупцеві товар, а
          Покупець зобов’язується оплатити і прийняти товар на умовах Цього договору.
        </p>
        <p>3.2. Цей договір регулює купівлю-продаж в інтернет-магазині, в тому числі:</p>
        <p>а) добровільний вибір Покупцем товарів в інтернет-магазині по категоріям;</p>
        <p>б) самостійне оформлення Покупцем замовлення на сайті в інтернет-магазині;</p>
        <p>в) оплата Покупцем замовлення, оформленого в інтернет-магазині;</p>
        <p>г) виконання і передача замовлення Покупцеві у власність на умовах Цього договору.</p>
        <p>4. Порядок оформлення замовлення</p>
        <p>
          4.1. Покупець самостійно оформляє замовлення онлайн в інтернет-магазині або за допомогою телефонних засобів
          зв’язку за контактами, вказаними в інтернет-магазині.
        </p>
        <p>5. Вартість і порядок оплати товару</p>
        <p>5.1. Повна вартість товару вказується на сторінках інтернет-магазину Продавця.</p>
        <p>
          5.2. Ціни на Товари і послуги можуть змінюватися в залежності від кон’юнктури ринку, що
          відбивається на цінах в інтернет-магазині. Продавець не може змінювати ціну для конкретного Покупця,
          в разі, якщо той вже прийняв умови Продавця та здійснив у встановленому
          цим договором порядку оплату Товару (послуг).
        </p>
        <p>
          5.3. Покупець оплачує замовлення протягом 2-х робочих днів (в розмірі 100% передплати) за допомогою
          банківського переказу грошей на поточний рахунок Продавця, що вказаний
          в рахунку, в т.ч. за допомогою Інтернет-банкінгу.
        </p>
        <p>6. Доставка замовлення</p>
        <p>
          6.1. Відвантаження товару Покупцю відбувається після
          надходження від Покупця 100% оплати по виставленому рахунку.
        </p>
        <p>
          6.2. Доставка і повернення товару виконується силами Продавця або
          транспортної компанії (перевізником) за рахунок Покупця. Загальний строк доставки не може перевищувати 10 днів.
        </p>
        <p>
          6.3. Вартість доставки в Інтернет – магазині не вказується, оскільки залежить
          від діючих тарифів транспортної компанії (перевізника).
        </p>
        <p>6.4. При замовленні оптових партій, терміни і методи доставки узгоджуються окремо в кожному конкретному випадку.</p>
        <p>6.5. Продавець не несе відповідальності за термін доставки замовлення, тому що вони залежать від дій третіх осіб (перевізників).</p>
        <p>6.6. Оплата вартості доставки здійснюється Покупцем Компанії-перевізнику самостійно,
          при отриманні товару. Точна вартість доставки визначається Компанією-перевізником.</p>
      </div>
    </div>
  </div>
</div>
